@use '/styles/mixins' as m;

.container {
  @include m.horizontalFlex();
  justify-content: space-between;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: hidden;
  .right {
    @include m.horizontalFlex;
  }
}

.divider {
  border-left: 1px solid #fff;
  height: 55px;
  margin: 0rem 1rem;
}

.register {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    display: none;
  }
}