@use '/styles/variables' as v;
@use '/styles/mixins' as m;
@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  @include m.theme;

  a {
    color: inherit;
    text-decoration: none;
  }  
}

main {
  min-height: v.$base-main-height;
}

.relative {
  position: relative;
}

.anchor {
  height: v.$base-anchor;
  padding: 0rem 1rem;

  @include m.horizontalFlex;
  @include m.theme;

  &.header {
    border-bottom: v.$base-border;
  }

  &.footer {
    border-top: v.$base-border;
  }
}

.btn-main {
  @include m.defaultButton;
}

.form-control {
  @include m.defaultFormControl;
}