$default: 'Default';
$button: 'Button';
$formcontrol: 'Form Control';

@mixin horizontalFlex {
  display: flex;
  align-items: center;
}

@mixin theme($type: 'Default') {
  @if ($type == $default) {
    background-color: #333 !important;
  }

  @if ($type == $button) {
    background-color: #444 !important;
    border-color: #444 !important;
    &:hover {
      background-color: #fff !important;
      border-bottom: #fff !important;
      color: #333 !important;
    }
  }

  @if ($type == $formcontrol) {
    background-color: #444 !important;
    &::placeholder {
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }

  color: #fff !important;
}

@mixin defaultButton {
  @include theme($button);
  &:hover {
    @include theme($button);
  }
  &:active {
    @include theme($button);
  }
}

@mixin defaultFormControl {
  border: none;
  @include theme($formcontrol);
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}